{% extends 'base.html.twig' %}

{% block title %}{{p.nombre}}{% endblock %}

{% block body %}
    <div class="animated fadeIn">
        
        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <img src="{{p.foto}}" alt="{{p.nombre}}">
            </div>
            <div class="col-md-6">
                <h3>{{p.nombre}}</h3>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h5>Precio: <span class="text-danger">{{p.precio}} &euro;</span></h5>
                    </div>
                    <div class="col-6 text-center">
                        {% if p.stock > 0 %}
                            <p class="card-text"><small class="text-muted">Quedan {{p.stock}} unidades</small></p>
                        {% else %}
                            <p class="card-text"><small class="text-muted">No quedan unidades</small></p>
                        {% endif %}
                    </div>
                </div>

                <p>{{p.descripcion}}</p>  
                
                {% if p.stock > 0 %}
                    <div class="row">
                        <div class="col-6">
                            {% if p.stock > 0 %}
                                <a href="{{path('cesta_add', {'id': p.id, 'cantidad': 1})}}" id="cart-link" class="btn btn-success d-block">Añadir a la cesta</a>
                            {% else %}
                                <a href="#" class="btn btn-outline-success disabled d-block">Añadir a la cesta</a>
                            {% endif %}
                        </div>
                    
                         <div class="col-6 text-center">
                            <p class="d-inline"><small>Cantidad: </small></p>
                            <select class="custom-select custom-select-sm col-3 d-inline-block" id="item-quantity">
                                {% for i in 1..10 %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div> 

    </div>

    <script>
        $('#item-quantity').on('change', function () {
            $('#cart-link').attr('href', '/cesta_add/'+ {{p.id}} + '/' + $(this).val());
        });
    </script>
{% endblock %}